---
import BaseLayOut from '../layouts/BaseLayout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
---
<BaseLayOut>
    <div class="container">
        <Header />
    </div>
    <div>
        <Hero />
    </div>
</BaseLayOut>

