---

---

<nav class="relative container mx-auto p-6">
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-4">
      <img src="svg/programmersvg.svg" alt="" class="object-contain h-12 w-12" />
      <p class="text-2xl text-bold">Sami Köngäs</p>
    </div>
    <div class="hidden space-x-6 md:flex">
      <a href="#" class="hover:text-red-400">Home</a>
      <a href="#" class="hover:text-red-400">My Works</a>
      <a href="#" class="hover:text-red-400">About</a>
      <a href="#" class="hover:text-red-400">Contact</a>
    </div>

    <div class="md:hidden">
      <div
        id="menu"
        class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md"
      >
        <a href="#" class="hover:text-red-400">Home</a>
        <a href="#" class="hover:text-red-400">My Works</a>
        <a href="#" class="hover:text-red-400">About</a>
        <a href="#" class="hover:text-red-400">Contact</a>
      </div>
    </div>
    <button id="menu-btn" class="block hamburger md:hidden focus:outline-none">
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>
</nav>

<script>
  const btn = document.getElementById("menu-btn");
  const nav = document.getElementById("menu");

  btn.addEventListener("click", () => {
    btn.classList.toggle("open");
    nav.classList.toggle("flex");
    nav.classList.toggle("hidden");
  });
</script>
