---
import "../styles/global.css";
---

<section class="container">
  <div class="hero-container">
    <div class="box">
      <h1>Hi, my name is Sami Köngäs!</h1>
      <p>
        I'm a software engineer student pursuing a BEng, focusing on software
        development.
      </p>
    </div>
  </div>
</section>

<style>
  .box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
</style>
