---

---

<section class="container flex flex-col mx-auto md:mt-32 mb-32">
  <h2 class="mx-auto text-3xl text-bold text-center">Skills</h2>
  <div
    class="grid grid-cols-2 mt-20 mx-auto items-center justify-items-center md:grid-cols-4"
  >
    <div class="w-64 h-32 flex items-center justify-center mb-12">
      <img
        class="w-full h-full object-contain"
        src="svg/javascript.svg"
        alt="JavaScript"
      />
    </div>
    <div class="w-64 h-32 flex items-center justify-center mb-12">
      <img
        class="w-full h-full object-contain"
        src="svg/react.svg"
        alt="React"
      />
    </div>
    <div class="w-64 h-32 flex items-center justify-center mb-12">
      <img
        class="w-full h-full object-contain"
        src="svg/nodejs.svg"
        alt="Node.js"
      />
    </div>
    <div class="w-64 h-32 flex items-center justify-center mb-12">
      <img
        class="w-full h-full object-contain"
        src="svg/tailwindcss.svg"
        alt="Tailwind CSS"
      />
    </div>
  </div>
</section>
